<%= render 'layouts/shared/breadcrumb' %>
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">New Event</h5>
          <%= render partial: "admin/events/partials/form",locals:
              { event: @event,
                venues: @venues,
                url: admin_events_path } %>
        </div>
      </div>
    </div>
  </div>
</section>
