<div class="row">
  <div class="col-12">
    <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
      <div class="page_title_left">
        <h3 class="dark_text"><%= @name_page %></h3>
        <ol class="breadcrumb page_bradcam mb-0">
          <% breadcrumb_trail do |crumb| %>
            <li class="breadcrumb-item <%= crumb.current? ? "current" : "" %>">
              <%= link_to crumb.name, crumb.url, (crumb.current? ? {"aria-current" => "page"} : {}) %>
              <% unless crumb.current? %><% end %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>